{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASELINE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/index-v.1.1.css' %}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="icon" href="{%  static 'img/logo.png' %}" type="image/gif" sizes="96x96">
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="{% static 'JS/index.js' %}"></script>
</head>
<body>
<header>
    <h1><a href="{% url 'index' %}">BASELINE</a></h1>
</header>
<div class="container">
    <div class="main">
        <div id="usa_map" class="usa_map"></div>
        <div id="county_map" class="county_map"></div>
    </div>
</div>
</body>
</html>